.btn {
  height: 50px;
  border: 1pxsolid #000;
  border-radius: 4px;
  font-size: 18px;
  background-color: #fff;
  padding: 0 20px;
}

.btn_beautiful {
  cursor: pointer;
  background-color: cadetblue;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear;
  &:hover {
    background-color: aqua;
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2);
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  &_active {
    background-color: red;
  }
}