body {
    padding: 0;
    margin: 0;
    /*height: 2000px;*/
}

/*.btn {*/
    /*width: 150px;*/
    /*height: 60px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*border: 1px solid #000;*/
    /*background-color: red;*/
    /*font-size: 24px;*/
    /*!*transition: all 0.3s linear;*!*/
    /*animation: btnAnimTest 1s linear infinite;*/

/*}*/

/*.btn:hover {*/
    /*!*animation: btnAnimTest 0.3s linear 1;*!*/
/*}*/

/*!*.btn:hover {*!*/
    /*!*background-color: blueviolet;*!*/
/*!*}*!*/

/*@keyframes btnAnimTest {*/
    /*!*from {*!*/
        /*!*background-color: red;*!*/
    /*!*}*!*/

    /*!*to {*!*/
        /*!*background-color: blueviolet;*!*/
    /*!*}*!*/

    /*0% {*/
        /*background-color: red;*/
        /*transform: scale(0);*/
    /*}*/

    /*25% {*/
        /*background-color: green;*/
    /*}*/

    /*50% {*/
        /*background-color: yellow;*/
    /*}*/

    /*75% {*/
        /*background-color: blue;*/
    /*}*/

    /*100% {*/
        /*background-color: blueviolet;*/
        /*transform: scale(1.4);*/
    /*}*/
/*}*/

/*.flex {*/
    /*display: flex;*/
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

/*.box {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*border-radius: 50%;*/
    /*animation-name: jumpingBall;*/

    /*animation-timing-function: linear;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
/*}*/

/*.box:nth-child(1) {*/
    /*background-color: teal;*/
    /*animation-duration: .2s;*/
    /*!*animation: jumpingBox .3s linear infinite;*!*/
/*}*/

/*.box:nth-child(2) {*/
    /*background-color: blue;*/
    /*animation-duration: .4s;*/
    /*!*animation: jumpingBox .3s linear infinite;*!*/
/*}*/

/*.box:nth-child(3) {*/
    /*background-color: yellow;*/
    /*animation-duration: .5s;*/
    /*!*animation: jumpingBox .3s linear infinite;*!*/
/*}*/

/*.box:nth-child(4) {*/
    /*background-color: green;*/
    /*animation-duration: .7s;*/
    /*!*animation: jumpingBox .3s linear infinite;*!*/
/*}*/

/*@keyframes jumpingBall {*/
    /*0% {*/
        /*transform: translateY(0);*/
    /*}*/

    /*100% {*/
        /*transform: translateY(100px);*/
    /*}*/
/*}*/



/*.wrap {*/
    /*width: 100%;*/
    /*height: 400px;*/
    /*background: url("../img/header-bg.jpeg") no-repeat;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
/*}*/



/*.parallax {*/
    /*height: 100vh;*/
    /*perspective: 1px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

/*.parallax__layout {*/
    /*position: absolute;*/
    /*!*width: 500px;*!*/
    /*!*height: 500px;*!*/
    /*!*margin: auto;*!*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
/*}*/

/*.parallax__item {*/
    /*font-size: 52px;*/

/*}*/

/*.parallax__layout_base {*/
    /*transform: translateZ(0);*/
/*}*/

/*.parallax__layout_back {*/
    /*transform: translateZ(-1px);*/
/*}*/

/* --- */

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 200px;
}

.parallax__item {
    transform: translateZ(-1px);
    position: absolute;
    width: 100%;
}

.parallax__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

