.cp {
  padding: 20px;
  width: 200px;
  border: 2px solid #000;
}

.cp_one {
  border-color: blue;
}

.cp_two {
  border-color: red;
}

.cp_three {
  border-color: green;
}

.counter {
  font-size: 48px;
  font-weight: bold;
}

.test {
  width: 500px;
  margin: 0 auto;
}

.btn {
  display: flex;
}