.game-field {
    display: inline-block;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.row {
    display: flex;
}
.cell {
    width: 100px;
    height: 100px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    overflow: hidden;
}

.cell img {
    max-width: 100%;
}
