body {
    font-family: 'Montserrat', sans-serif;
}

.about-restaurant {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #fff 0%, #fff 27%, #E5E5E5 27%, #E5E5E5 100%);
}

.about-restaurant__row {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-restaurant__row_video {
    justify-content: center;
}

.container {
    width: 920px;
    margin: 0 auto;
}

.about-restaurant__row_desc {
    width: 350px;
}

.about-restaurant__row_info {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}

.info-text {
    font-size: 14px;
    color: #616161;
}

.about-restaurant__row_info_text {
    max-width: 255px;
}

.heading {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
}

.about-restaurant__row_info_text:nth-child(1) {
    background: url("../img/text1.png") no-repeat top left;
}

.about-restaurant__row_info_text:nth-child(2) {
    background: url("../img/text2.png") no-repeat top left;
}

.about-restaurant__row_info_text:nth-child(3) {
    background: url("../img/text3.png") no-repeat top left;
}

.about-restaurant__row_info_text:nth-child(4) {
    background: url("../img/text4.png") no-repeat top left;
}
