.pure-table {
    border-collapse: collapse;
    border: 1px solid #999;
}

.table__heading {
    background: #ccc;
}

.table__cell {
    border-right: 1px solid #999;
    font-size: 20px;
    padding: 10px;
}

.table__odd {
    background: #eee;
}

