.nav {
  color: red;
  font-size: 42px;
  font-weight: normal; }

.test {
  background-color: blue; }

.list {
  list-style-type: none; }
  .list__item {
    font-size: 24px; }
    .list__item_scale {
      transform: scale(2); }

.btn, .btn_green {
  font-size: 23px;
  width: 120px;
  height: 50px; }

.btn_green {
  background-color: green; }
