body {
    font-family: 'Montserrat', sans-serif;
}

.gallery {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.gallery__item {

}

.gallery__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery__row_align-none {
    align-items: unset;
    margin-top: 27px;
}

.gallery-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;
}

.gallery__title {
    margin-bottom: 25px;
}

.gallery__logo {
    align-self: center;
    margin-bottom: 10px;
}

.gallery__row_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

