$test-var: blue;

@import "./nav";

@mixin transform($size) {
  transform: scale($size);
}

.test {
  background-color: $test-var;
}

.list {
  list-style-type: none;
  &__item {
    font-size: 24px;

    &_scale {
      @include transform(2);
    }
  }
}

.btn {
  font-size: 23px;
  width: 120px;
  height: 50px;
}

.btn_green {
  @extend .btn;
  background-color: green;
}



