/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.events-preview__item {
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .events-preview__item_mr_desktop {
      margin-right: 30px; } }
  @media screen and (min-width: 1024px) {
    .events-preview__item:not(:last-child) {
      margin-right: 30px; } }

.events-preview__img {
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .events-preview__img {
      width: 100%;
      height: 300px;
      object-fit: cover; } }

@media screen and (min-width: 1024px) {
  .events-preview {
    display: flex; } }
