.App {
    height: 100vh;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 100px;
}


