.test {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 400px;
    /*grid-template: 1fr / 1fr 400px;*/
}

.content {
    background-color: darkgreen;
}

.sidebar {
    background-color: darkmagenta;
}