.caption {
    font-size: 48px;
    color: cadetblue;
}

.text {
    max-width: 450px;
    margin: 20px 0;
    padding: 0 15px;
    font-size: 14px;
    text-transform: capitalize;
    font-style: italic;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

.box_red {
    background-color: red;
}

.card {
    /*border: 1px solid #000;*/
    /*max-width: 250px;*/
    display: grid;
    gap: 60px;
}

.title {
    justify-self: center;
    font-size: 48px;
    font-weight: bold;
    color: teal;
}

.image {
    justify-self: center;
    border: 10px solid darkcyan;
    padding: 10px;
}

.description {
    justify-self: center;
    font-style: italic;

}